@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header, .footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input, .buttons {
  align-self: center;
}

a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline-color: transparent;
  color: #6e7f80;
}


/* I would give full marks for my solution unless the given solution uses an approach that's better for most cases. */
/* You just used "align-self" whereas the given solution used "flex: 1;" Don't know if one is better than the other */
/* All I know is that both work */